*.pdf
*.fdb_latexmk
*.log
*.pdf
*.synctex.gz
*.aux
*.fls
2.\ Runde/Aufgabe\ 1/solutions/
2.\ Runde/Aufgabe\ 1/allSolutions/2. Runde/Aufgabe 1/wallimg
2. Runde/Aufgabe 1/wall
2. Runde/Aufgabe 1/wallnoorder
